<h1 id="banner">Stupid Coaching</h1>
<div id="conversation">
  <div id="question">
    <p ><%= @questions %></p>
    <p class="talker">-You</p>
  </div>
  <div id="answer">
    <p ><%= @answer %></p>
    <p class="talker">-Coach</p>
  </div>
</div>
