<form action="answer" method="get">
<h2>Ask something ☀️</h2>
  <div class="container">
    <input type="text" class = "user_input" name="input">
    <input type="submit" class ="btn" value="Ask!">
  </div>
</form>
